<li class="item">
  <p><%= question.title %></p>
  <div class="list-inner">
    <p><i><%= "Required.".html_safe if question.required %>
        <%= " Select one" unless question.multi %></i>
    </p>
    <ol class="list alpha">
      <%= render partial: 'admin/options/option', collection: question.options, as: :option  %>
    </ol>
    <p><%= link_to "Remove question", [:admin, question.survey, question], method: :delete, data: {confirm: 'Are you sure you want to remove this question?'} %></p>
  </div>
</li>