<div class="form-group <%= form_error_class(question, :option_count) %>">
  <%= f.label :option_count, "How many options should the question have?", class: 'control-label' %>
  <%= f.number_field :option_count, min: 1 , class: 'form-control' %>
  <%= form_error(question, :option_count) %>
</div>
<div class="form-group <%= form_error_class(question, :multi) %>">
  <%= f.label :multi, "How many options can be selected?", class: 'control-label' %>
  <div class="radio">
    <%= label_tag do %>
      <%= f.radio_button(:multi, false) %>
      Just One
  <% end %>
  </div>
  <div class="radio">
    <%= label_tag do %>
      <%= f.radio_button(:multi, true) %>
      Multiple 
    <% end %>
  </div>
  <%= form_error(question, :multi) %>
</div>
</div>
<div class="form-group <%= form_error_class(question, :required) %>">
  <%= f.label :required, "Is this question required?", class: 'control-label' %>
  <div class="radio">
    <%= label_tag do %>
      <%= f.radio_button(:required, true) %>
      Yes
    <% end %>
  </div>
  <div class="radio">
    <%= label_tag do %>
      <%= f.radio_button(:required, false) %>
      No
    <% end %>
  </div>
  <%= form_error(question, :required) %>
</div>