blderu

<h3>Add a Multiple Choice Question</h3>
<%= form_for [:admin, @survey, @question] do |f| %>
  <%= @question.current_step %>
  <%= @question.option_count %>
  <%= @question.errors %>
  <%= render partial: "#{@question.current_step}", locals: {f: f} %>
  <%= f.submit "Continue to Next Step" %>
  <%= f.submit "Back to previous step", name: 'back' if @question.last_step? %>
<% end %>